

#logo-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline;

}
.login {
    position: absolute;
    right: 0;
    text-align: right;
    margin: 0 auto;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: green
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(left, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */
}

#footer {
    text-align: center;
    color: white;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #333;
}

#footer ul {
    display:inline-block;
    margin: 0;
    padding: 0;
}

#footer li {

    padding: 0;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
#footer li a{

    padding: 0;
    display: inline-block;
    color: white;
    text-decoration: underline;
}

#content img {
    width: auto;
    height: auto;
    float: right;
    margin-left: 8%;
    margin-right: 8%;
}

#content p {
    right: 50%;
    font-size: 24px;
    text-align: left;    
    margin: 5%;
}

#content {
    width: auto;
    height: 600px; /*FIX THIS*/
    background-size: cover;
  
}

h2 {
    font-size: 45px;
    text-align: center;
    color: darkolivegreen;
    text-decoration: underline;
}

h3 {
    right: 25%;
    font-size: 28px;
    text-align: left;    
    margin-left: 5%;
    margin-bottom: 0;
}